$space-large: 2.5rem;
$title-color: #555;

.page-title {
    margin-top: $space-large;
    margin-bottom: $space-large;
    color: $title-color;
}
input[type=search] {
    box-shadow: none;
}

// I turn polar bears white, and I will make you cry
// I make guys have to pee and girls comb their hair
// I make celebrities look stupid and normal people look like celebrities
// I turn pancakes brown and make champaign bubble
// if you squeeze me I'll pop, if you look at me you'll pop
// can you solve me?